* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family:'Montserrat', sans-serif;
}

body, h1, p, #menu>ul>li>a {
  font-family: 'Montserrat', sans-serif;
}

body, h1, p {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

/* Logo y Menu */
#flip {
  background-color: #f6ec35;
  text-align: center;
}

#flip > img {
  width: 5em;
  margin-top: 1em;
  margin-bottom: 1em;

}

#menu {
  display: none;
  background-color: #f6ec35;
  font-family: 'Montserrat', sans-serif;
}

#menu.show {
  display: flex;
  justify-content: right;
  align-items: center;
}

#menu>ul {
  background-color: #f6ec35;
  height: 4em;
  display: flex;
  justify-content:right;
  align-items: center;
  margin-block: auto;
}

#menu>ul>li {
  list-style: none;
  display: flex;
}

#menu>ul>li>a{
  color: #212529;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  margin: 0 15px;
  font-family: 'Montserrat', sans-serif;
}

#menu>ul>li:first-child {
  display: none;
  
}

#menu>ul>li:hover {
  transform: scale(1.2, 1.2);
}

#menu>ul>li>a:hover {
  color: #d11013;
}

/* Título */
.header-title {
  font-size: 3em; 
  text-align: center;
  margin: 20px;
  color: #0057A5;
  font-weight: bold;
  animation: bounce 2s infinite; 
}

.header-text {
  font-size: 1em; 
  text-align: center;
  margin-bottom: 20px;
  font-weight: 900;
  animation: fadeInUp 2s ease-out; 
}

/* Animacion titulo */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Carousel */
.carousel-bg {
  background: url('../img/stars-background.jpg') center/cover no-repeat;
  position: relative;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  height: 80vh; 
  overflow: hidden;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.5s ease;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}

.carousel-inner img {
  max-width: 100%;
  max-height: 100%; 
  width: auto;
  height: auto;
  margin: auto; 
}

#carouselExample {
  margin-bottom: 20px;
}

/* Img del Carousel */
.img-carousel {
  max-width: 100%;
  height: auto;
}

/* Productos */

.additional-section {
  margin-top: 60px;
  position: relative;
  overflow: hidden;
}

.additional-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: 500;
}

.additional-section p {
  font-size: 1.2em;
}

/* Imgs de Productos  */
.img-product {
  max-width: 100%;
  height: auto;
  position: relative;
}

/* Hover en imgs de productos */
.img-product:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/* Hover en títulos de productos */
.additional-section h2:hover {
  color: #d11013; 
}

/*Boton Descubre Más */
.discover-section {
  margin-top: 40px;
  margin-bottom: 20px;
}

.discover-section p {
  font-size: 1.5em;
}

.btn-discover {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  color: #ffff;
  background-color: #d11013;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease-out, background-color 0.3s ease-out;
}

.btn-discover:hover {
  animation: bounce 0.6s infinite alternate;
  background-color: #f8282f; 
}

@keyframes bounce {
  to {
    transform: translateY(-10px);
  }
}


/*  flecha */
#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
  display: none;
}

#scroll-to-top a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #d11013;
  color: #ffff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  font-size: 1.5em;
}

#scroll-to-top i {
  margin-top: 2px; 
}


/* Animación scroll-to-top */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

#scroll-to-top:hover a {
  animation: bounce 0.6s infinite alternate;
  background-color: #f8282f;
}


/* Footer */
footer {
  background-color: #0057A5;
  color: #ffff;
  padding: 3em 0;
  text-align: center;
}

footer h4 {
  margin-bottom: 1em;
}

footer p {
  margin-bottom: 0.5em;
}

.social-icons {
  list-style: none;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  color: #ffff;
  text-decoration: none;
  font-size: 1.5em;
}

.social-icons a:hover {
  color: #d11013;
}





/* Responsive */
@media screen and (max-width: 1200px) {
  /* Títulos */
  .header-title {
    font-size: 2.5em;
  }

  .header-text {
    font-size: 1.2em;
  }

  /* Menú */
  #flip > img {
    width: 4em;
  }

  #menu>ul {
    height: 3em;
  }

  #menu>ul>li>a {
    font-size: 0.9em;
  }

  /* Carousel */
  .carousel-inner {
    height: 60vh;
  }

  .video-carousel {
    height: 100%;
  }

  /* Productos */
  .additional-section h2 {
    font-size: 1.8em;
  }

  .additional-section p {
    font-size: 1em;
  }

  .img-product {
    max-width: 80%;
  }

  /* Descubre Más */
  .discover-section p {
    font-size: 1.2em;
  }

  .btn-discover {
    padding: 8px 16px;
    font-size: 0.9em;
  }
}

@media screen and (max-width: 992px) {
  /* Menú */
  #flip > img {
    width: 3em;
  }

  #menu>ul {
    height: 2.5em;
  }

  #menu>ul>li>a {
    font-size: 0.8em;
  }

  /* Carousel */
  .carousel-inner {
    height: 50vh;
  }

  .video-carousel {
    height: 100%;
  }

  /* Productos */
  .additional-section h2 {
    font-size: 1.5em;
  }

  .additional-section p {
    font-size: 0.9em;
  }

  .img-product {
    max-width: 70%;
  }

  /* Descubre Más */
  .discover-section p {
    font-size: 1em;
  }

  .btn-discover {
    padding: 6px 12px;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 576px) {
  /* Títulos */
  .header-title {
    font-size: 2em;
  }

  .header-text {
    font-size: 0.9em;
  }

  /* Menú */
  #flip > img {
    width: 2.5em;
  }

  #menu>ul {
    height: 2em;
  }

  #menu>ul>li>a {
    font-size: 0.7em;
  }

  /* Carousel */
  .carousel-inner {
    height: 40vh;
  }

  .video-carousel {
    height: 100%;
  }

  /* Productos */
  .additional-section h2 {
    font-size: 1.2em;
  }

  .additional-section p {
    font-size: 0.8em;
  }

  .img-product {
    max-width: 60%;
  }

  /* Descubre Más */
  .discover-section p {
    font-size: 0.8em;
  }

  .btn-discover {
    padding: 4px 8px;
    font-size: 0.7em;
  }
}
