* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}
  

  
body, h1, p {
    margin: 0;
    padding: 0;
}
  
body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
  
/* Logo y Menu */
#flip {
    background-color: #f6ec35;
    text-align: center;
}
  
#flip > img {
    width: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
}
  
#menu {
    display: none;
    background-color: #f6ec35;
    font-family: 'Montserrat', sans-serif;
}
  
#menu.show {
    display: flex;
    justify-content: right;
    align-items: center;
}
  
#menu>ul {
    background-color: #f6ec35;
    height: 4em;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-block: auto;
}
  
#menu>ul>li {
    list-style: none;
    display: flex;
}
  
#menu>ul>li>a {
    color: #212529;
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    margin: 0 24px;
    font-family: 'Montserrat', sans-serif;
}
  
#menu>ul>li:first-child {
    display: none;
}
  
 
#menu>ul>li>a:hover {
    color: #d11013;
}
  
/* Galería */
#galeria {
    background-color: #0057A5;
    padding: 3em 0;
    text-align: center; 
    color: #ffff; 
}

#galeria h1 {
    font-size: 2.5em; 
    margin-bottom: 20px;
    font-weight: 900; 
}

.galeria-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
    width: 40%;
}

.galeria-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.galeria-item:hover {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transform: translateY(20px); 
}

.overlay .text {
    color: #000000;
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
    opacity: 0;
    transform: translateY(-20px); 
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.galeria-item:hover .overlay {
    opacity: 1;
    transform: translateY(0);
}

.galeria-item:hover .overlay .text {
    opacity: 1;
    transform: translateY(0);
}

  
  
/* entre secciones */
#contenido {
    background-color: #212529;
    color: #ffff;
    padding: 50px 0;
    text-align: center;
    margin-bottom: 50px; 
}

#contenido h2 {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: 700;
}

#contenido p {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Carousel */

#slideshow {
    max-width: 400px; 
    margin: 0 auto; 
}

.carousel-inner {
    border-radius: 10px;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: auto; 
    object-fit: cover;
    border-radius: 10px;
}

/* Botoncitos */
.carousel-extra-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
}

.carousel-extra-controls button {
    margin: 0 5px; 
}

/* Piezas de Repuesto */
#piezas-repuesto {
    background-color: #f6ec35;
    color: #212529;
    padding: 3em 0;
    text-align: center;
    margin-top: 40px;
}

#piezas-repuesto h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: 900;
}

#piezas-repuesto p {
    font-size: 1.2em;
    line-height: 1.6;
}

#piezas-repuesto a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    text-decoration: none;
    color: #ffff;
    background-color: #0057A5;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

#piezas-repuesto a:hover {
    background-color: #d11013;
}

/* Animación scroll-to-top */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
}
  
#scroll-to-top:hover a {
    animation: bounce 0.6s infinite alternate;
    background-color: #f8282f;
}
  
  
/* Footer */
footer {
    background-color: #0057A5;
    color: #ffff;
    padding: 3em 0;
    text-align: center;
}
  
footer h4 {
    margin-bottom: 1em;
}
  
footer p {
    margin-bottom: 0.5em;
}
  
.social-icons {
    list-style: none;
    padding: 0;
}
  
.social-icons li {
    display: inline-block;
    margin-right: 10px;
}
  
.social-icons a {
    color: #ffff;
    text-decoration: none;
    font-size: 1.5em;
}
  
.social-icons a:hover {
    color: #d11013;
}

#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    cursor: pointer;
    display: none;
  }
  
  #scroll-to-top a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #d11013;
    color: #ffff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    text-decoration: none;
    font-size: 1.5em;
  }
  
  #scroll-to-top i {
    margin-top: 2px; 
  }
  
  @media screen and (max-width: 999px) {


    #menu.show {
      display: flex;
      justify-content: center;
      align-items: center;
    }

}

@media screen and (max-width: 418px) {

    
        .galeria-container {
          display: flex;
          flex-direction: column;
          align-items: center; /* Centra las imágenes */
        
        }
  
        .galeria-item {
          width: 100%; /* O el ancho que desees para cada imagen */
          margin-bottom: 20px; /* Espaciado entre imágenes */
        }

        #menu.show {
            font-size: 13px;
            padding-left: 2em;
            padding-right: 2em;
            padding-bottom: 1em;
            padding-top: 1em;
          }

          #galeria h1 {
            font-size: 1.5em; 
            margin-bottom: 20px;
            font-weight: 900; 
        }
      }